* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --header-color: rgb(133, 209, 214);
    --header-bg: rgb(59, 59, 59);
    --side-heading: rgb(53, 101, 156);
}

header {
    position: relative;
    background-color: rgb(59, 59, 59); 
    height: 100px;
    width: 100%;
    
}

header h1 {
    display: inline-block;
    position: absolute;
    background-color: var(--header-color);
    color: var(--header-bg);
    font-size: 50px;
    padding: 5px 10px 5px 50px;
    margin-top: 16px;
}

nav {
    float: right;
}

.nav-bar {
    list-style-type: none;
    margin-top: 40px;
    margin-right: 50px;
    
}

header li {
    display: inline-block;
    font-size: 18px;
}

.nav-li {
    position: relative;
    color: var(--header-color);
    text-decoration: none;
    border-bottom: 2px var(--header-color) solid;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
}

/* Nav list transitions */
.nav-li::after {
    content: '';
    position: absolute;
    background-color: var(--header-color);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}

.nav-li:hover::after {
    transition: 250ms;
    transform: scaleY(1);
}

.nav-li:hover {
    color: var(--header-bg);
}

/* Hero Styling */
.hero {
    position: relative;
}

#hero-image {
    width: 100%;
    height: 250px;
}

.hero h2 {
    position: absolute;
    font-size: 45px;
    background-color: var(--header-color);
    color: var(--header-bg);
    right: 60px;
    bottom: 15px;
    padding: 5px 10px;
}

/* About Me Section */
.about-me-container {
    width: 100%;
    display: flex;
    margin-top: 25px;
}

.about-me-title {
    border-right: 3px var(--side-heading) solid;
    width: 17%;
    margin-left: 3px;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    color: var(--side-heading);
    padding-left: 110px;
    padding-right: 18px;
}

.about-me-text {
    width: 81%;
    color: var(--side-heading);
    padding-left: 25px;
    padding-bottom: 20px;
}

/* Work Section */
.work-container {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
}

.work-title {
    width: 17%;
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    color: var(--side-heading);
    margin-left: 3px;
    padding-right: 18px;
    border-right: 3px var(--side-heading) solid;
}

.work-content {
    display: flex;
    flex-wrap: wrap;
    width: 81%;
    justify-content: center;
    margin-bottom: 25px;
}

.work-content a {
    position: relative;
}

#horiseon img {
    border: 4px var(--header-color) solid;
}

#horiseon h4 {
    position: absolute;
    bottom: 30px;
    padding: 2px 4px 2px 15px;
    font-size: 35px;
    background-color: var(--header-color);
    color: var(--header-bg);
}

.placeholder-image {
    width: 600px;
    height: 346px;
    border: 4px var(--header-color) solid;
    margin: 4px;
}

.placeholder-h4 {
    position: absolute;
    bottom: 25px;
    font-size: 35px;
    padding: 2px 4px 2px 15px;
    left: 4px;
    background-color: var(--header-color);
    color: var(--header-bg);
}

#horiseon {
    position: relative;
}



/*
#horiseon::after {
    content: '';
    position: absolute;
    background-color: red;
    height: 700px;
    width: 1200px;
    left: 0px;
    bottom: 0px;
}

/* Needs Adjusting 
#horiseon:hover::after {
    transform:scale(0);
    transition: 300ms;
}
*/

.footer-parent-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
}

footer h3 {
    border-right: 3px var(--side-heading) solid;
    width: 17%;
    margin-left: 3px;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    color: var(--side-heading);
    padding-left: 110px;
    padding-right: 18px;
}

.footer-list {
    width: 80%;
}

.footer-list ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.footer-li {
    position: relative;
    text-decoration: none;
    color: var(--header-bg);
    border-bottom: 2px var(--header-bg) solid;
    font-size: 18px;
    padding: 0px 5px;
}

.footer-li::after {
    content: '';
    position: absolute;
    background-color: var(--header-bg);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}

.footer-li:hover::after {
    transition: 250ms;
    transform: scaleY(1);
}

.footer-li:hover {
    color: var(--header-color);
}

/* Media Queries */
@media screen and (max-width: 992px) {
    header {
        width: 102%;
    }
    .hero {
        width: 102%;
    }

    #hero-image {
        height: 200px;
    }
    
    .about-me-container {
        width: 100%;
        flex-direction: column;
        align-content: center;
        margin-top: 15px;
    }

    .about-me-title {
        justify-content: flex-start;
        width: 91%;
        border-right: 0px;
        border-bottom: 3px var(--side-heading) solid;
        font-size: 30px;
        padding: 0;
        margin-left: 45px;
    }

    .about-me-text {
        display: flex;
        width: 92%;
        margin-left: 20px;
        margin-top: 15px;
    }

    .work-container {
        flex-direction: column;
    } 

    .work-title {
        justify-content: flex-start;
        width: 91%;
        border-right: 0px;
        border-bottom: 3px var(--side-heading) solid;
        font-size: 30px;
        padding: 0;
        margin-left: 45px;
    }

    .work-content {
        width: 100%;
        flex-wrap: wrap;
    }

    #horiseon img {
        height: 500px;
        margin-top: 30px;
    }

    .placeholder-image {
        height: 225px;
        width: 435px;
    }

    .footer-parent-container {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    footer h3 {
        text-align: left;
        display: block;
        width: 91%;
        border-right: 0px;
        border-bottom: 3px var(--side-heading) solid;
        font-size: 30px;
        padding: 0;
        margin-left: 45px;
    }

    .footer-list {
        width: 100%;
    }
    
    .footer-list ul {
        width: 100%;
    }
}
  
  /* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    
}
  
  /* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    
}