* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --header-color: rgb(133, 209, 214);
    --header-bg: rgb(59, 59, 59);
}

header {
    position: relative;
    background-color: rgb(59, 59, 59); 
    height: 100px;
    
}

header h1 {
    display: inline-block;
    position: absolute;
    background-color: var(--header-color);
    color: var(--header-bg);
    font-size: 50px;
    padding: 5px 10px 5px 50px;
    margin-top: 16px;
}

nav {
    float: right;
}

.nav-bar {
    list-style-type: none;
    margin-top: 40px;
    margin-right: 50px;
    
}

li {
    display: inline-block;
    font-size: 18px;
}

.nav-li {
    position: relative;
    color: var(--header-color);
    text-decoration: none;
    border-bottom: 2px var(--header-color) solid;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
}

/* Nav list transitions */
.nav-li::after {
    content: '';
    position: absolute;
    background-color: var(--header-color);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}

.nav-li:hover::after {
    transition: 250ms;
    transform: scaleY(1);
}

.nav-li:hover {
    color: var(--header-bg);
}

.hero {
    background-image: url(./Images/hero-image.jpg);
    width: 100%;
    height: 250px;
    position: relative;
}

.hero h2 {
    position: absolute;
    font-size: 45px;
    background-color: var(--header-color);
    color: var(--header-bg);
    right: 60px;
    bottom: 15px;
    padding: 5px 10px;
}

/* Aside Styling */
.sidebar {
    width: 20%;
    min-height: 100%;
    background-color: gray;
    font-size: 40px;
    text-align: right;
    float: left;
    clear: both;
    padding-top: 30px;
}

.me-h3 {
    display: block;
}

.about-me-side {
    border-right: 3px darkblue solid;
    padding-right: 15px;
}

.work-h3 {
    margin-top: 20px;
    border-right: 3px darkblue solid;
    padding-right: 15px;
}

/* Main Body Text */
.about-me-text {
    position: relative;
    width: 99%;
    top: 40px;
    left: 20px;
    margin-bottom: 50px;
}

/* Work Card Styling 
#horiseon {
    width: 75%;
    float: right;
}

.project-1 img {
    height: 500px;
    width: 2000px;
}

.work-item {
    display: flex;
    justify-content: flex-end;
    margin-top: 75px;
}

.work-item-2 {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.work-item-2 img {
    height: 250px;
    width: 500px;
    margin: 10px;
}