* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Color Scheme Variables */
:root {
    --header-color: rgb(133, 209, 214);
    --header-bg: rgb(59, 59, 59);
    --side-heading: rgb(53, 101, 156);
}

header {
    display: flex;
    width: 100%;
    background-color: var(--header-bg);
    height: 100px;
    justify-content: space-between;
}

.header-h1 {
    font-size: 50px;
    background-color: var(--header-color);
    height: 80%;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 5px;
    color: var(--header-bg);
}

nav {
    display: flex;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    margin-top: 45px;
    margin-right: 70px;
}

.nav-li {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: var(--header-color);
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 2px var(--header-color) solid;
    z-index: 1;
}

/* Nav list transitions */
.nav-li::after {
    content: '';
    position: absolute;
    background-color: var(--header-color);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}

.nav-li:hover::after {
    transition: 250ms;
    transform: scaleY(1);
}

.nav-li:hover {
    color: var(--header-bg);
}

/* Hero Styling */
.hero {
    position: relative;
}

#hero-image {
    width: 100%;
    height: 250px;
}

.hero h2 {
    position: absolute;
    font-size: 45px;
    background-color: var(--header-color);
    color: var(--header-bg);
    right: 60px;
    bottom: 15px;
    padding: 5px 10px;
}

/* About Me Section */
.about-me-container {
    width: 100%;
    display: flex;
    margin-top: 25px;
}

.about-me-title {
    border-right: 3px var(--side-heading) solid;
    width: 17%;
    margin-left: 3px;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    color: var(--side-heading);
    padding-left: 110px;
    padding-right: 18px;
}

.about-me-text {
    width: 81%;
    color: var(--side-heading);
    padding-left: 25px;
    padding-bottom: 20px;
}

/* Work Section */
.work-container {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
}

.work-title {
    width: 17%;
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    color: var(--side-heading);
    margin-left: 3px;
    padding-right: 18px;
    border-right: 3px var(--side-heading) solid;
}

.work-content {
    display: flex;
    flex-wrap: wrap;
    width: 81%;
    justify-content: center;
    margin-bottom: 25px;
}

.work-content a {
    position: relative;
}

#horiseon {
    position: relative;
}

#horiseon img {
    height: 100%;
    width: 100%;
    border: 5px var(--header-color) solid;
    opacity: 0.45;
}

#horiseon h4 {
    position: absolute;
    bottom: 30px;
    padding: 2px 4px 2px 15px;
    font-size: 35px;
    margin-left: 5px;
    background-color: var(--header-color);
    color: var(--header-bg);
}

.placeholder-image {
    width: 600px;
    height: 346px;
    border: 5px var(--header-color) solid;
    margin: 4px;
    opacity: 0.45;
}

/* Image Card Hover Transitions*/
#horiseon img:hover,
.placeholder-image:hover {
    opacity: 1;
    transition: 250ms ease-in-out;
    border-radius: 35px;
    
}

.placeholder-h4 {
    position: absolute;
    bottom: 25px;
    font-size: 35px;
    margin-left: 5px;
    padding: 2px 4px 2px 15px;
    left: 4px;
    background-color: var(--header-color);
    color: var(--header-bg);
}


/* Footer Styling */
.footer-parent-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
}

footer h3 {
    border-right: 3px var(--side-heading) solid;
    width: 17%;
    margin-left: 3px;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
    color: var(--side-heading);
    padding-left: 110px;
    padding-right: 18px;
}

.footer-list {
    width: 80%;
}

.footer-list ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.footer-li {
    position: relative;
    text-decoration: none;
    color: var(--header-bg);
    border-bottom: 2px var(--header-bg) solid;
    font-size: 18px;
    padding: 0px 5px;
}

/* Footer List Item Transition */
.footer-li::after {
    content: '';
    position: absolute;
    background-color: var(--header-bg);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
}

.footer-li:hover::after {
    transition: 250ms;
    transform: scaleY(1);
}

.footer-li:hover {
    color: var(--header-color);
}

/* Media Queries - Larger Desktops */
@media screen and (min-width: 2259px) {
    .about-me-title {
        padding-left: 250px;
    }

    .about-me-text {
        font-size: 20px;
    }

    #horiseon img {
        height: 950px;
        margin-top: 30px;
    }

    .placeholder-image {
        height: 400px;
        width: 834px;
    }

    footer h3 {
        padding-bottom: 20px;
        padding-left: 250px;
    }

    .footer-li {
        font-size: 22px;
    }
}


@media screen and (max-width: 1501px) {
    #horiseon img {
        height: 600px;
    }

    .placeholder-image {
        width: 523px;
    }
}

@media screen and (max-width: 1311px) {
    #horiseon img {
        height: 500px;
    }

    .placeholder-image {
        height: 275px;
        width: 435px;
    }
}

@media screen and (max-width: 1093px) {
    #horiseon img {
        height: 400px;
    }

    .placeholder-image {
        height: 220px;
        width: 346px;
    }
}

/* Tablets */
@media screen and (max-width: 992px) {
    header {
        width: 102%;
    }
    .hero {
        width: 102%;
    }

    #hero-image {
        height: 100%;
        width: 100%;
    }
    
    .about-me-container {
        width: 100%;
        flex-direction: column;
        align-content: center;
        margin-top: 15px;
    }

    .about-me-title {
        justify-content: flex-start;
        width: 91%;
        border-right: 0px;
        border-bottom: 3px var(--side-heading) solid;
        font-size: 30px;
        padding: 0;
        margin-left: 45px;
    }

    .about-me-text {
        display: flex;
        width: 92%;
        margin-left: 20px;
        margin-top: 15px;
    }

    .work-container {
        flex-direction: column;
    } 

    .work-title {
        justify-content: flex-start;
        width: 91%;
        border-right: 0px;
        border-bottom: 3px var(--side-heading) solid;
        font-size: 30px;
        padding: 0;
        margin-left: 45px;
    }

    .work-content {
        width: 100%;
        flex-wrap: wrap;
    }

    #horiseon img {
        height: 500px;
        margin-top: 30px;
    }

    .placeholder-image {
        height: 225px;
        width: 435px;
    }

    .footer-parent-container {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    footer h3 {
        text-align: left;
        display: block;
        width: 91%;
        border-right: 0px;
        border-bottom: 3px var(--side-heading) solid;
        font-size: 30px;
        padding: 0;
        margin-left: 45px;
    }

    .footer-list {
        width: 100%;
    }
}
  
  /* Large smartphones */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .header-h1 {
        font-size: 30px;
        height: 50%;
        margin-top: 0px;
        text-align: center;
        padding-left: 0px;
    }

    nav {
        height: 50%;
        justify-content: center;
    }
    
    .nav-ul {
        margin-top: 11px;
        margin-right: 0px;
    }

    #about-me-link-landing {
        right: 40px;
    }
    
    .about-me-title {
        width: 89%;
    } 

    .work-title {
        width: 89%;
    }

    #horiseon img {
        height: 350px;
        margin-top: 30px;
    }

    .placeholder-image {
        height: 350px;
        width: 614px;
    }

    footer h3 {
        width: 89%;
    }
}
  
  /* Small smartphones */
@media screen and (max-width: 576px) {
     header {
        flex-direction: column;
    }

    .header-h1 {
        font-size: 30px;
        height: 50%;
        margin-top: 0px;
        text-align: center;
        padding-left: 0px;
    }

    nav {
        height: 50%;
        justify-content: center;
    }
    
    .nav-ul {
        margin-top: 11px;
        margin-right: 0px;
    }

    #hero-image {
        height: 150px;
    }

    #about-me-link-landing {
        right: 30px;
        font-size: 30px;
    }

    .about-me-title {
        width: 85%;
    } 

    .work-title {
        width: 85%;
    }

    #horiseon img {
        height: 260px;
        margin-top: 30px;
    }

    .placeholder-image {
        height: 260px;
        width: 454px;
    }

    footer h3 {
        width: 85%;
    }

    .footer-list  {
        margin-left: 30px;
        width: 90%;
    }

    .footer-li {
        font-size: 16px;
    }
}